<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>

<div>
  {{ subTitle }}
</div>

<mat-card>
  <mat-card-title>INDIGO</mat-card-title>
  <mat-card-subtitle>dvpt et démocratisation de la musique</mat-card-subtitle>
  <mat-card-content>
    <div></div>
    <div>10        BD  Brune</div>
    <div></div>
    <div>75014 PARIS</div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>COMITE DE GESTION RUE PINEL</mat-card-title>
  <mat-card-subtitle>la gestion des locaux et des services nécessaires aux buts des antennes et a l'exercice des activités de ses membres, conformément a la convention qui sera agree par l'association et l'association philosophique</mat-card-subtitle>
  <mat-card-content>
    <div></div>
    <div>9         RUE Pinel</div>
    <div></div>
    <div>75013 PARIS</div>
  </mat-card-content>
</mat-card>
